@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

//viewport breakpoints
$ultrawide-bp: 2159px;
$desktop-bp: 1025px;
$tablet-bp: 1024px;
$mobile-bp: 480px;

$lightGold: #f7f0b6;
$gold: #e1b655;
$darkGold: #996600;
$black: #110f0d;

$head: 'Josefin Sans', sans-serif;
$body: 'Merriweather', serif; 