@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.lds_ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds_ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #333;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds_ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds_ellipsis1 0.6s infinite;
          animation: lds_ellipsis1 0.6s infinite;
}

.lds_ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds_ellipsis2 0.6s infinite;
          animation: lds_ellipsis2 0.6s infinite;
}

.lds_ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds_ellipsis2 0.6s infinite;
          animation: lds_ellipsis2 0.6s infinite;
}

.lds_ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds_ellipsis3 0.6s infinite;
          animation: lds_ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds_ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds_ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds_ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds_ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds_ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds_ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

html {
  font-size: 62.5%;
}

h1, h2, a {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
}

div, span, p, font {
  font-family: "Merriweather", serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.1;
}

h2 {
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.24;
  font-weight: 500;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
}

.arrow {
  border: solid #fcfcfc;
  display: inline-block;
  border-width: 0 .4rem .4rem 0;
  padding: .4rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.control-arrow {
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}

@media (min-width: 2159px) {
  .control-prev {
    margin-left: 15%;
  }
  .control-next {
    margin-right: 15%;
  }
}
/*# sourceMappingURL=globals.css.map */