@import "./_variables.scss";

html {
    font-size: 62.5%;   
}
h1, h2, a {
    font-family: $head;
    text-decoration: none;
}
div, span, p, font {
    font-family: $body;
}
h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.1;
}
h2 {text-transform: uppercase; font-size: 2.4rem; line-height: 1.24; font-weight: 500;}
p {font-size: 1.4rem; line-height: 1.6}
a {font-weight: 500; font-size: 1.8rem}


// arrow
.arrow {
    border: solid #fcfcfc;
    display: inline-block;
    border-width: 0 .4rem .4rem 0;
    padding: .4rem;
}
  
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

// arrow end

// carousel modification
.control-arrow {
  transform: scaleX(1.5);
}
@media #{$mq-xlarge} {
  .control-prev {
    margin-left: 15%;
  }
  .control-next {
    margin-right: 15%;
  }
}