@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@-webkit-keyframes opacityAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heroContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 400px;
}

.heroContainer .heroContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1024px;
  max-width: 1024px;
  max-height: 100%;
  padding: 60px 0;
  color: #fcfcfc;
}

.heroContainer .heroContent .leftDiv, .heroContainer .heroContent .rightDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
}

.heroContainer .heroContent .leftDiv {
  margin-bottom: 5rem;
}

.heroContainer .heroContent .leftDiv h1 {
  font-size: 3.2rem;
  max-width: 100%;
  margin-bottom: 1.8rem;
}

.heroContainer .heroContent .leftDiv p {
  font-size: 1.25rem;
  max-width: 45ch;
}

.heroContainer .heroContent .rightDiv {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.heroContainer .heroContent .rightDiv p {
  color: #d7d7d7;
  font-size: 1rem;
  margin-top: .8rem;
}

.heroContainer .heroContent .arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: 0;
  border: 0;
  min-height: 400px;
  cursor: pointer;
}

.heroContainer .heroContent .arrow:first-of-type {
  left: 0%;
  padding-left: 10%;
  padding-right: 2.5%;
}

.heroContainer .heroContent .arrow:last-of-type {
  right: 0%;
  padding-right: 10%;
  padding-left: 2.5%;
}

@media (max-width: 1024px) {
  .heroContainer .heroContent {
    width: 640px;
    max-width: 640px;
  }
  .heroContainer .heroContent .leftDiv {
    max-width: 45%;
  }
  .heroContainer .heroContent .arrow:first-of-type {
    padding-left: 2.5%;
    padding-right: 0.625%;
  }
  .heroContainer .heroContent .arrow:last-of-type {
    padding-right: 2.5%;
    padding-left: 0.625%;
  }
}

.heroContainer .heroBackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 120px;
  width: 100%;
  height: 400px;
  background: #000;
  z-index: -10;
}

.heroContainer .heroBackground img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: blur(5px) brightness(50%);
          filter: blur(5px) brightness(50%);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 480px) {
  .heroContainer {
    height: 600px;
  }
  .heroContainer .heroContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    padding: 0;
  }
  .heroContainer .heroContent .leftDiv {
    width: 88%;
    max-width: 88%;
  }
  .heroContainer .heroContent .rightDiv {
    width: 88%;
    max-width: 88%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .heroContainer .heroContent .rightDiv p {
    margin-left: 1.2rem;
  }
  .heroContainer .heroContent .rightDiv {
    margin: 0;
  }
  .heroContainer .heroContent .arrow {
    min-height: 372.48572px;
    height: 372.48572px;
    max-height: 372.48572px;
    z-index: 5;
    top: 372.48572px;
  }
  .heroContainer .heroContent .arrow:first-of-type {
    padding-left: 2.5%;
    padding-right: 1.25%;
  }
  .heroContainer .heroContent .arrow:last-of-type {
    padding-right: 2.5%;
    padding-left: 1.25%;
  }
  .heroContainer .heroBackground {
    height: 600px;
    top: 150px;
  }
}
/*# sourceMappingURL=hero.module.css.map */