@import './_variables.scss';

$cardWidthDesktop: 32%;
$cardHeightDesktop: 250px;
$cardHeightTablet: 300px;
$cardWidthMobile: 100%;
$cardHeightMobile: 280px;

.headerText {
    padding: 5rem 0;
    width: 100%;
    display: flex; flex-direction: column; align-items: center;
    @media #{$mq-xsmall} {
        padding: 7.5rem 0 2.5rem 0;
        h1 {
            color: #000 !important;
        }
    }
}
.locationsContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    
    margin-bottom: 100px;
    max-width: 100%;
    // margin-top: $navHeight;
    // outline: 1px solid red; //debug
    
    @media #{$mq-small} {
        width: 100vw;
    }
    @media #{$mq-medium} {
        width: 110rem;
    }
    @media #{$mq-xsmall} {
        flex-direction: column;
        width: 100vw;
    }
    .card {
        // border: 1px solid blue; //debug
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        cursor: pointer;
        
        background-size: cover;
        animation-duration: .8s;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
        
        
        @media #{$mq-small} {
            width: $cardWidthDesktop;
            height: $cardHeightTablet;
        }

        @media #{$mq-medium}{
            width: $cardWidthDesktop;
            height: $cardHeightDesktop;
        }

        @media #{$mq-xsmall} {
            width: $cardWidthMobile;
            height: $cardHeightMobile;
        }
        
        .textContainer {
            width: 100%;
            background: rgb(19,19,19);
            background: linear-gradient(0deg, rgba(48, 39, 41, .75) 0%, rgba(51,51,51,0) 100%);
            @media #{$mq-xsmall} {padding: 20px 15px}
            @media #{$mq-small} {padding: 20px 15px; height: 55%}
            @media #{$mq-medium} {
                padding: 8px 20px 12px 20px;
                height: auto;
            }
            h1, span {
                max-width: 80%;
                @media#{$mq-small} {max-width: 100%}
            }
            h1 {
                color: #fcfcfc;
                margin-bottom: .8rem;
            }
            span {
                display: none;
                transition: .2 ease-in-out;
                color: #ececec;
                animation-duration: .2s;
                @media #{$mq-xsmall} {
                    display: inline-block;
                }
                @media #{$mq-small} {
                    display: inline-block;
                }
                @media #{$mq-medium} {
                    display: inline-block;
                }
                @media #{$mq-large} {
                    display: none;
                }
            }
        }
    }
    .card:hover {
        // background-size: 125%;
        background-position: bottom;
        // animation-duration: .8s;
        span {display: inline-block;}
        @media #{$mq-small} {
            background-size: cover;
        }
        @media #{$mq-medium} {
            background-size: 135%;
        }
    }
    
    // .card:nth-of-type(2) {
    //     animation-duration: 1.2s;
    // }
}