@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.lds_ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds_ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #333;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds_ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds_ellipsis1 0.6s infinite;
          animation: lds_ellipsis1 0.6s infinite;
}

.lds_ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds_ellipsis2 0.6s infinite;
          animation: lds_ellipsis2 0.6s infinite;
}

.lds_ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds_ellipsis2 0.6s infinite;
          animation: lds_ellipsis2 0.6s infinite;
}

.lds_ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds_ellipsis3 0.6s infinite;
          animation: lds_ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds_ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds_ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds_ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds_ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds_ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds_ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@media (min-width: 480px) {
  .openNavBtn, .closeNavBtn {
    display: none !important;
  }
}

#openNavBtn {
  display: none;
}

.mobileLogoLink {
  display: none;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  position: fixed;
  width: 100%;
  height: 120px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.125);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.125);
  z-index: 100;
}

@media (max-width: 480px) {
  .navContainer {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.navContainer .openNavBtn, .navContainer .closeNavBtn {
  display: none;
}

.navContainer .navContent {
  width: 1024px;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2.5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navContainer .navContent .logoLink img {
  width: 10rem;
  max-width: 10rem;
  min-height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0 75%;
     object-position: 0 75%;
  margin: .5rem 0;
}

.navContainer .navContent .navLinks {
  padding: .5rem 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.navContainer .navContent .navLinks a {
  margin: 0 16px;
  color: #110f0d;
  text-decoration: none;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.navContainer .navContent .navLinks a:hover, .navContainer .navContent .navLinks a:focus {
  color: #e1b655;
}

.navContainer .navContent .navLinks a:last-of-type {
  margin-right: 0;
}

.navContainer .navContent .navLinks a.active {
  border-bottom: 2px solid #e1b655;
}

@media (max-width: 1024px) {
  .navContainer .navContent {
    width: 640px;
    max-width: 640px;
  }
}

.navContainer .bookingLink {
  position: absolute;
  top: 0;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 16px;
  border-radius: 0 0 8px 8px;
  text-decoration: none;
  color: #110f0d;
  background-color: #e1b655;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;
}

.navContainer .bookingLink p {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 5px;
  line-height: 1;
}

.navContainer .bookingLink:hover {
  background-color: #fac03c;
}

.navContainer .minimized {
  right: 0;
  border-radius: 0 0 0 8px;
}

@media (max-width: 1024px) {
  .navContainer .minimized {
    opacity: 0;
  }
}

.navMobile {
  display: none;
}

@media (max-width: 480px) {
  .bookingLink {
    display: none !important;
  }
  .navContainer {
    height: 150px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navContainer .mobileLogoLink {
    display: block;
  }
  .navContent {
    display: none !important;
  }
  .navMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background: #fcfcfc;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    z-index: 50;
  }
  .mobileLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25vh 0;
    width: 100%;
  }
  .mobileLinks a {
    font-family: "Josefin Sans", sans-serif;
    font-size: 28px;
    text-align: center;
    width: 100%;
    padding: 25px 0;
    text-decoration: none;
    color: #110f0d;
  }
  .mobileLinks a:hover, .mobileLinks a:focus {
    background: #e1b655;
  }
  .openNavBtn, .closeNavBtn {
    position: fixed;
    top: 5vh;
    left: 1.25vw;
    color: #fcfcfc;
    font-size: 1.2rem;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: #fcfcfc;
    z-index: 150;
    border: 0;
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  }
  .openNavBtn span, .closeNavBtn span {
    display: block;
    margin: 10% auto;
    width: 30px;
    height: 5px;
    background: #996600;
  }
  .openNavBtn {
    display: block;
  }
  .closeNavBtn {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: 0;
  }
  .closeNavBtn div span {
    display: block;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: #996600;
  }
  .closeNavBtn div span:nth-of-type(2n) {
    -webkit-transform: translateY(-4.5px) rotate(135deg);
            transform: translateY(-4.5px) rotate(135deg);
  }
}
/*# sourceMappingURL=nav.module.css.map */