@import './_variables.scss';

@media #{$mq-small} {
    .openNavBtn, .closeNavBtn {
        display: none !important;
    }
}
#openNavBtn {
    display: none;
}
.mobileLogoLink {
    display: none;
}

.navContainer {
    display: flex;
    justify-content: center;
    background: #fff;
    position: fixed;
    width: 100%;
    height: $navHeight;
    box-shadow: 0 2px 6px rgba(0,0,0,.125);
    z-index: 100;
    @media #{$mq-xsmall} {
        box-shadow: none;
    }
    .openNavBtn, .closeNavBtn {  
        display: none;
    }
    // align-items: center;
    // border: 1px solid red; //debug
    .navContent {
        width: 1024px;
        max-width: 1024px;
        display: flex;
        padding: 0 2.5%;
        justify-content: space-between;
        align-items: flex-end;
        // border: 1px solid green; //debug
        .logoLink img {
            width: 10rem; max-width: 10rem;
            min-height: 5rem;
            object-fit: contain;
            object-position: 0 75%;
            // height: 10rem; max-height: 10rem;
            margin: .5rem 0;
        }
        .navLinks {
            padding: .5rem 0;
            display: flex;
            align-items: flex-end;
            a {
                margin: 0 1.4rem;
                color: $black;
                text-decoration: none;
                transition: color 200ms ease-in-out;
            }
            a:hover, a:focus {
                color: $gold;
            }
            // a:last-of-type {margin-right: 0}
            a.active {
                border-bottom: 2px solid $gold;
            }
            
            .dropdownNav {
                display: inline;
                cursor: pointer;
                display: flex; 
                // border: 1px solid red; //debug
                > a:hover .dropdownContent {
                    display: flex;
                }
                > a .dropdownContent {
                    padding: 0 1.4rem;
                    margin-left: -1.4rem;
                    display: none; flex-direction: column; align-items: flex-start;
                    position: absolute;
                    background: #fff;
                    box-shadow: 0 .25rem .5rem .25rem rgba(0,0,0,.125);
                    // margin: 0 1.4rem;
                    a {
                        margin: 0; padding: 0;
                        padding: 1rem 0;
                        font-size: 1.6rem;
                        font-weight: 400;
                        border-bottom: 2px solid hsl(0, 0%, 90%);
                        width: 100%;
                    }
                    a:nth-of-type(last) {
                        border: 0;
                    }
                    .dropdownLink .dropdownLink_cascade {
                        display: flex; flex-direction: column; align-items: flex-start;
                        width: 100%;
                        ul {
                            display: flex; flex-direction: column;
                            padding: 0; margin: 0;
                            width: 100%;
                            padding: 0 1rem 0 1.5rem;
                            list-style-type: circle;
                        }
                        li {padding: 0; margin: 0; width: 100%;}
                        li:hover {list-style-type: disc;}
                        a {
                            // font-size: 1.4rem;
                            border: 0; padding: 0;
                            // border: 1px solid red; //debug
                            width: 100%;
                            // margin-left: .7rem;
                        }
                        li:hover a, a:hover {
                            color: $black;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    
    .navContent {
        // border: 1px solid red; //debug
        @media #{$mq-small} {
            width: 70rem; max-width: 70rem;
        }
        @media #{$mq-medium} {
            width: 100rem; max-width: 100rem;
        }
        @media #{$mq-large} {
            width: 116rem; max-width: 116rem;
        }
    }

    .bookingLink {
        position: absolute;
        top: 0;
        right: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px 16px;        
        border-radius: 0 0 8px 8px;
        text-decoration: none;
        color: $black;
        background-color: $gold;
        transition: background-color .2s ease-in;
        margin: 0 !important;
        @media #{$mq-xxlarge} {
            right: 20%;
        }
        p {
            display: inline;
            font-size: 16px;
            font-family: $head;
            margin-left: 5px;
            line-height: 1;   
        }
    }
    .bookingLink:hover {
        background-color: saturate($gold, 25%);
        color: inherit !important;
    }
    .minimizedBookingLink {
        flex-direction: column; background-color: none;
        // position: relative;
        padding: 0 1.5rem;
        margin: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
        p {display: none}
        
    }
}

.navContainerMinimized {
    height: 6rem;
    @media #{$mq-xsmall} {
        position: fixed;
        background: $darkGold;
        height: 5rem !important;
    }
}

.navMobile {display: none}

// @media #{$mq-small} {

//     /
// }

@media #{$mq-xsmall} {
    .bookingLink {
        display: none !important;
    }
    .navContainer {
        height: 150px;
        // position: relative;
        // border: 1px solid red; //debug
        align-items: center;
        box-shadow: 0 .125rem .8rem rgba(0,0,0,.25);

        .mobileLogoLink {
            display: block;
            // border: 1px solid green; //debug
            img {
                object-fit: contain;
                margin: 0 auto;
            }
        }
    }
    .navContent {
        display: none !important;
        // hide desktop nav on mobile
    }
    .navMobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #fcfcfc;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        z-index: 50;
        // border: 1px solid green; //debug        
    }
    .mobileLinks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 25vh 0;
        width: 100%;
        a {
            font-family: $head;
            font-size: 28px;
            text-align: center;
            width: 100%;
            padding: 25px 0;
            text-decoration: none;
            color: $black;
            
        }
        a:hover, a:focus {
            background: $gold;
        }
        // z-index: 60;

    }
    
    .openNavBtn, .closeNavBtn {   
        position: fixed;
        top: 5vh;
        left: 1.25vw;
        color: #fcfcfc;
        font-size: 1.2rem;
        width: 70px; 
        height: 70px;
        border-radius: 100%;
        background: #fcfcfc;
        z-index: 150;
        border: 0;
        box-shadow: 0 0 6px rgba(0,0,0,.25);
        span {
            display: block;
            margin: 10% auto;
            width: 30px;
            height: 5px;
            // border-radius: 4px;
            background: $darkGold;
        }
    }
    .openNavBtn {
        display: block;
    }
    .closeNavBtn {
        display: block;
        justify-content: center;
        align-items: center;
        background: 0;
        // border: 1px solid red; //debug
        div {
            // position: fixed;
            // border: 1px solid blue; //debug
            span {
                display: block;
                margin: 0 auto;
                transform: rotate(45deg);                
                background: $darkGold;
            }
            span:nth-of-type(2n) {            
                // background: #fcfcfc;
                transform: translateY(-4.5px) rotate(135deg);    
            }
        }
    }
}