@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.offeringsContainer {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 100%;
}

.offeringsContainer .offeringsGrid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px 0;
}

.offeringsContainer .box {
  width: 420px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.425);
          box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.425);
  margin: 20px;
}

.offeringsContainer .box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 2.4rem;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #fcfcfc;
  background: #333333;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 15, 15, 0.8)), color-stop(90%, rgba(51, 51, 51, 0)));
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.8) 0%, rgba(51, 51, 51, 0) 90%);
}

.offeringsContainer .box a font {
  padding: .5rem 2.5rem;
}

.offeringsContainer .box a:hover font {
  border: .25rem solid #ececec;
}

.offeringsContainer .box:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.offeringsContainer .box:nth-of-type(1) {
  background-image: url("/thumbnail/asset-5result.webp");
}

.offeringsContainer .box:nth-of-type(2) {
  background-image: url("/thumbnail/asset-4result.webp");
}

.offeringsContainer .box:nth-of-type(3) {
  background-image: url("/thumbnail/asset-3result.webp");
}

@media (max-width: 1024px) {
  .offeringsGrid .box {
    width: 280px;
    height: 160px;
    margin: 10px;
  }
  .offeringsGrid .box a {
    font-size: 2.1rem;
  }
}

@media (max-width: 480px) {
  .offeringsGrid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 50px 0;
  }
  .offeringsGrid .box {
    width: 100%;
    height: 180px;
    margin: 2.5% 0;
  }
}
/*# sourceMappingURL=offerings.module.css.map */