@import './_variables.scss';

.twinContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: $navHeight * 4;
    top: $navHeight;
    
    @media #{$mq-small} {
        height: $desktopMinHeight;

    }
    // z-index: -100;
    position: static;
    // margin-bottom: 30vh;
    // top: 30%;
    // border: 1px solid red; //debug
    .choice {
        display: flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        background-size: cover;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.35);
            transition: background .2s ease-in;
            cursor: pointer;
        }
        a:hover {
            background: rgba(0,0,0,.05);

        }
        img {
            width: 50%;
        }
    }
    .choice:nth-of-type(1) {
        // border: 1px solid green; //debug
    }
    .choice:nth-of-type(2) {
        // border: 1px solid blue; //debug
        a {
            // background: rgba(255,255,255.)
        }
    }

    @media #{$mq-xsmall} {
        flex-direction: column;
        height: $navHeight * 5;
        top: $navHeight * 1.5;
        .choice {
            width: 100%;
            height: 50%;
            // border: 2x solid salmon; //debug
        }
    }
}